/*---------------------------------------

				Universal

---------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Avenir" , Verdana, Helvetica;
}

@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir-Roman-webfont.otf") format("opentype"),
	url("./fonts/Avenir-Roman-webfont.eot") format("eot"),
	url("./fonts/Avenir-Roman-webfont.ttf") format("truetype"),
	url("./fonts/Avenir-Roman-webfont.woff") format("woff"),;
}

@font-face {
	font-family: "Avenir";
	font-weight: bold;
	src: url("./fonts/Avenir-Black-webfont.otf") format("opentype")
	url("./fonts/Avenir-Black-webfont.eot") format("eot"),
	url("./fonts/Avenir-Black-webfont.ttf") format("truetype"),
	url("./fonts/Avenir-Black-webfont.woff") format("woff"),;
}

@font-face {
	font-family: "Avenir";
	font-weight: lighter;
	src: url("./fonts/Avenir-Light-webfont.otf") format("opentype")
	url("./fonts/Avenir-Light-webfont.eot") format("eot"),
	url("./fonts/Avenir-Light-webfont.ttf") format("truetype"),
	url("./fonts/Avenir-Light-webfont.woff") format("woff"),;
}

@font-face {
	font-family: "Avenir";
	font-weight: italic;
	src: url("./fonts/Avenir-Oblique-webfont.otf") format("opentype")
	url("./fonts/Avenir-Oblique-webfont.eot") format("eot"),
	url("./fonts/Avenir-Oblique-webfont.ttf") format("truetype"),
	url("./fonts/Avenir-Oblique-webfont.woff") format("woff"),;
}

.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) {

.topheader {
	height: 65px;
	background-color: #3C404D;
}

.logo {
	width: 6em;
	position: absolute;
	margin-left: 1.5em;
	margin-top: 1.5em;
}

ul li {
	list-style: none;
	padding-left: 1.75em;
}

.nav {
	padding: 1em;
	display: flex;
	justify-content:flex-end;
	align-items:center;
	height: 2.2em;
}

.contactwords {
	display: none;
}

#emailicon {
	width: 1.5em;
}

#phoneicon {
	width: .75em;
}

#linkedin {
	width: 1.25em;
	padding-right: .25em;
}

.coverphoto {	
	background-image: url(dustcoverphoto.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.descriptionalt {
	/*display: none;*/
	text-align: center;
	color: #fff;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 5em;
}

.descriptionalt h1 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: lighter;
}

.descriptionalt p {
	display: none;
}

.description {
	text-align: center;
	padding: 2.5em 0;
}

.description h1 {
	display: none;
	text-transform: uppercase;
	color: #1a1a1a;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 3em;
}

.description h3 {
	margin-top: 2em;
}

.icon {
	display:flex;
	justify-content: center;
	margin-top: 1em;
}

.icon img {
	display: block;
	width: 3em;
	margin-left: 1em;
	margin-right: 1em;
}

.description p {
	max-width: 18em;
	font-weight: lighter;
	color: #6e6e6e;
	margin: .5em auto;
	line-height: 1.75em;
}

.dustbody {
	margin-top: 2em;
	max-width: 18.5em;
	margin: 0 auto;
}

.dustbody h2 {
	text-align: center;
	margin-bottom: .75em;
	margin-top: .75em;
}

.dustbody h4 {
	padding-bottom: 1em;
}

.dustbody p {
	padding: 0em 0em 2em 0em;
	margin: 0 auto;
	font-weight: lighter;
	line-height: 1.75em;
}

.dustimgs {
	width: 100%;
	padding-top: .75em;
}

.img1 {
	width: 100%;
}

.img2 {
	max-width: 100%;
}

.img3 {
	max-width: 100%;
}

.img4 {
	width: 100%;
}

.img5 {
	width: 100%;
}

.img6 {
	width: 100%;
}

.img7 {
	width: 100%;
}

.imgdescription {
	color: #aaaaaa;
	font-size: .85em;
	text-align: center;
}

a:visited, a:link, a:active {
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
}

a:hover {
	color: #8f8f8f;
}

ul li a:visited {
	color: #8f8f8f;
}

ul li a:link {
	color:#8f8f8f;
}

/*a:visited {
	color: #fff;
}

a:link {
	color:#8f8f8f;
}*/

/*footer {
	display:flex;
	justify-content: center;
	padding: 2em;
	background-color: #3C404D;
}

footer p{
	color: #fff;
}*/

#last {
	margin-bottom: 3em;
}

.nextscreen {
	width: 100%;
	height: 4em;
	background-color: #fff;
	display: flex;
}

.homebutton {
	background-color: #3C404D;
	width: 50%;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	font-weight: lighter;
	text-align: center;
	line-height: 4em;
	letter-spacing: .25em;
}

.ontraportbutton {
	background-color: #0d293d;
	width: 50%;
	height: 100%;
	text-decoration: none;
	color: #ffffff;
	font-weight: lighter;
	text-align: center;
	line-height: 4em;
	letter-spacing: .25em;
}



.container {
	margin-bottom: .25em;
}

[data-am-gallery] {
 position: relative;
 width: 100%;
 height: 300px;
 background-color: #fff;
/* Navigation */
}

[data-am-gallery] input[type="radio"] {
  position: fixed;
  top: -9999px;
}

[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .images .image:nth-child(5) { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5) { background-color: #29acbb; }

[data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5):hover { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .images .image:nth-child(4) { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4) { background-color: #29acbb; }

[data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4):hover { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .images .image:nth-child(3) { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3) { background-color: #29acbb; }

[data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3):hover { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .images .image:nth-child(2) { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2) { background-color: #29acbb; }

[data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2):hover { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .images .image:nth-child(1) { opacity: 1; }

[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1) { background-color: #29acbb; }

[data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1):hover { opacity: 1; }

[data-am-gallery] .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-am-gallery] .navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

[data-am-gallery] .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

[data-am-gallery] .dot:hover { opacity: 0.8; }








@media screen and (min-width: 375px){

.description p {
	max-width: 23em;
	padding: 0 4%;
}

.dustbody {
	max-width: 23em;
	padding: 0 4%;
}

}

@media screen and (min-width: 768px){

.coverphoto {
	height: 350px;
}

.coverphoto {	
	background-image: url(dustcoverphoto.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dustcover {
	display: none;
}

.descriptionalt {
	padding: 5em 0;
}

.descriptionalt h1 {
	font-size: 4em;
}

.descriptionalt p{
	display: block;
	max-width: 30em;
	margin: 0 auto;
	line-height: 1.75em;
	letter-spacing: .15em;
}

.description  {
	display: none;
	max-width: 48em;
}

.dustbody {
	max-width: 48em;
}

.dustimgs {
	padding-left: 0%;
	padding-right: 0%;
	margin: 0 auto;
}

.img1 {
	max-width: 100%;
	padding: 0%;
}

.dustbody h4 {
	margin: 0 auto;
}

.dustbody p {
	line-height: 1.75em;
}

.nextscreen {
	height: 6em;
}

.homebutton {
	line-height: 6em;
}

.ontraportbutton {
	line-height: 6em;
}

[data-am-gallery] {
 height: 650px;
}

}

@media screen and (min-width: 1024px){

.descriptionalt {
	display: block;
	text-align: center;
	padding: 14em 0;
}

.descriptionalt h1 {
	font-size: 4em;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: .08em;
}

.descriptionalt p {
	color: #fff;
	font-weight: lighter;
	max-width: 40em;
	margin: .5em auto;
	line-height: 1.75em;
	letter-spacing: .15em;
}

.coverphoto {
	height: 600px;
}

.contact{
	display: none;
}

.contactwords {
	display: block;
	font-size: .85em;
	padding-top: .2em;
	padding-right: .75em;
}

.emailwords {
	display: flex;
	align-items: center;
}

.description {
	display: none;
	padding: 4em 8% 5em 8%;
}

.description h1 {
	font-size: 3em;
	padding-bottom: .5em;
}


.dustbody {
	max-width: 60em;
}

.img4 {
	width: 100%;
	padding: 0;
}

.img6 {
	width: 100%;
	padding: 0;
}

.img7 {
	width: 100%;
	padding: 0;
}

.dustimgs {
	padding-bottom: .5em;
}

.container {
	margin-bottom: 1em;
}

footer {
	padding: 4em;
}

[data-am-gallery] {
 height: 780px;
}


}








