/*---------------------------------------

				Universal

---------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "proxima_nova" , Verdana, Helvetica;
}

@font-face {
    font-family: 'proxima_nova';
    font-weight: 400;
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
}

@font-face {
    font-family: 'proxima_nova';
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot');
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
    src: url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('./fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: 600;
}


@font-face {
    font-family: 'proxima_nova';
    src: url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
         url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('./fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
    src: url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
         url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('./fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: 100;
}

.container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 320px) {


.button {
	position: absolute;
	margin-left: .75em;
	margin-top: 1.15em;
	border: 1px solid #555;
	padding: .43em .3em .43em .43em;
	font-size: 1.25em;
	text-decoration: none;
	letter-spacing: .115em;
}

.button:hover {
	color: #3191EC;
	border-color: #3191EC;
}


a:visited, a:link, a:active {
	text-decoration: none;
	color: #555;
	font-weight: 400;
}

ul li {
	list-style: none;
	padding-left: 1.75em;
}

.nav {
	padding: 1em;
	display: flex;
	justify-content:flex-end;
	align-items:center;
	height: 2.2em;
}

.contactwords {
	display: none;
}

#emailicon {
	width: 1.5em;
}

#phoneicon {
	width: .75em;
}

#linkedin {
	width: 1.25em;
}

#fb {
	width: .75em;
}

#dribbble {
	width: 1.25em;
}

.coverphoto {	
	background-image: url(ontraportcoverphoto.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.icon {
	display:flex;
	justify-content: center;
	margin-top: 1em;
}

.icon img {
	display: block;
	width: 3em;
	margin-left: 1em;
	margin-right: 1em;
}

.headerphoto img {
	max-width: 100%;
	padding-top: 3em;
}

.ontraportbody {
	max-width: 94%;
	margin: 0 auto;
}

.firstebook img {
	width: 100%;
	margin-bottom: 2em;
}

.ontraportbody h1 {
	padding-bottom: .5em;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #3a3a3a;
	font-weight: 600;
}

.ontraportbody h3 {
	margin-bottom: .75em;
	margin-top: 2em;
	color: #3a3a3a;
	font-size: 1.75em;
	font-weight: 600;
}

.ontraportbody h4 {
	padding-bottom: .4em;
	color: #3a3a3a;
	font-size: 1.5em;
	font-weight: 500;
}

.ontraportbody p {
	color: #3a3a3a;
	font-weight: 400;
	line-height: 1.75em;
	padding-bottom: 2em;
}


.firstposter img{
	width: 100%;
	display: block;
	margin-bottom: 2em;
}

.nextscreen {
	width: 100%;
	height: 4em;
	background-color: #fff;
	display: flex;
}

a:visited.btmbutton, a:link.btmbutton, a:active.btmbutton {
	text-decoration: underline;
	color: #6e6e6e;
	font-weight: 400;
}

a:hover.btmbutton {
	color: #ccc;
}

ul li a:visited {
	color: #8f8f8f;
}

ul li a:link {
	color:#8f8f8f;
}

.wall-poster img {
	max-width: 100%;
	margin-top: 1em;
}

#lasttext {
	margin-bottom: 4em;
}

.home {
	text-align: center;
	margin-bottom: 4em;
}

.btmcontact {
	height: 8em;
}

.btmnav {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6em;
	padding-right: 1.75em;
}

.lastline {
	display: flex;
	justify-content: center;
	height: 2.5em;
}

.lastline p {
	color: #ccc;
}


@media screen and (min-width: 768px){

.coverphoto {
	height: 350px;
}

.coverphoto {	
	background-image: url(ontraportcoverphoto.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ontraportcover {
	display: none;
}

.ontraportbody {
	max-width: 38em;
}

.ontraportbody h1 {
	font-size: 3em;
}

.ontraportbody h3 {
	font-size: 2em;
}

.ontraportbody p {
	font-size: 1.25em;
}


}

@media screen and (min-width: 1024px){

.topheader {
	position: fixed;
}	


.button {
	margin-left: 1.25em;
	margin-top: 1.4em;
	border: 1.5px solid #555;
	padding: .425em .35em .425em .45em;
	font-size: 2em;
}

.coverphoto {
	height: 600px;
}

.ontraportbody {
	max-width: 44em;
	margin: 0 auto;
}

.dustbody h3 {
	font-size: 2em;
}

.contactwords {
	display: block;
	font-size: .85em;
	padding-top: .2em;
	padding-right: .75em;
}


.emailwords {
	display: flex;
	align-items: center;
}

#personalselected {
	margin-left: 7em;
	margin-right: 7em;
}

.description {
	margin-left: 5%;
}

.firstebook img {
	max-width: 100%;
}


}








